{% extends "news/base.html" %}

{% block title %} Details {% endblock %}

{% block content %}
    <h1>Title: {{ news.title }}</h1>
    <h3>Content: {{ news.content }}</h3>
    <h3>Created at: {{ news.created_at }}</h3>
    <br>
    <h3>Comments</h3>
    <ul>
        {% for i in coms %}
            <li>
                {{i.content}} - {{ i.created_at }}
            </li>

            {% if user == i.author %}
            <form action="{% url 'news:delete_comment' news.id i.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>
            {% endif %}
            
        {% endfor %}
    </ul>

    <h3>Add Comment</h3>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <label for="content">Text:</label>
        <textarea name="content" required></textarea><br>
        <br>
        <button type="submit">Add comment</button>
    </form>
    {% else %}
        <p>Доступно для авторизованных</p>
    {% endif %}
{% endblock %}